#floating-icon{
    position: fixed;
    top: 85%;
    left: 92%;
    z-index: 200;
    color: greenyellow;
    width: 50px;
}

@media (max-width:600px) {

  #floating-icon{
    top: 70%;
    left: 82%;
  }

}